.buttons {
  display: inline-flex;
  margin-left: 3em;
}

.buttons__tags {
  background-color: #519FD9;
  color: white;
  border: #519FD9;
  margin-right: 0.3em;
  margin-bottom: 0.6em;
}

.footer__button {
  background-color: coral;
  color: white;
  border: coral;
}
