* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

h1 {
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 1em;
}

h2 {
  font-size: 1em;
  font-weight: bold;
}

h3 {
  padding-top: 2em;
}

.derechos {
  text-align: center;
}

.container__logo {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.container__menu {
  display: inline-block;
  width: 900px;
  text-align: right;
}

.navbar {
  padding: 10px;
  border-bottom: 1px solid gray;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.input__menu {
  border-radius: 30px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xlg-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
.entry {
  margin-top: 1em;
}

.container__right {
  width: 50%;
  margin-left: 6em;
  margin-bottom: 4em;
}

.destacados__image {
  width: 220px;
  height: 200px;
}

.nosotros {
  border-bottom: 1px solid gray;
}

.tags {
  border-bottom: 1px solid gray;
}

.entry__body-image {
  padding-right: 15px;
}

.input__menu-footer {
  border-top-style: none;
  border-left-style: none;
}

.footer {
  text-align: center;
  background-color: #EFEFEF;
  width: 90%;
}

.input__menu-footer {
  margin-bottom: 2em;
  border-color: #EFEFEF;
}

.buttons {
  display: inline-flex;
  margin-left: 3em;
}

.buttons__tags {
  background-color: #519FD9;
  color: white;
  border: #519FD9;
  margin-right: 0.3em;
  margin-bottom: 0.6em;
}

.footer__button {
  background-color: coral;
  color: white;
  border: coral;
}

/*# sourceMappingURL=main.css.map */
